<div>
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink routerLink="/home">Home</a>
      <ng-template ngbNavContent>
        <p>Content of the Home tab</p>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink routerLink="/login">Login/Register</a>
      <ng-template ngbNavContent>
        <app-login-form></app-login-form>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>About</a>
      <ng-template ngbNavContent>
        <p>
          The choice was red, green, or blue. It didn't seem like an important
          choice when he was making it, but it was a choice nonetheless. Had he
          known the consequences at that time, he would likely have considered
          the choice a bit longer. In the end, he didn't and ended up choosing
          blue. Housework could be everyone’s work, not just “women’s work”. Why
          do women enable men to act oblivious to cleaning, grocery shopping,
          pet feeding, etc? Somehow when men live alone they figure out how to
          do all of those things all on their own. My friend’s husband claimed
          he didn’t know that sheets should be washed more than once a season.
          He said he didn’t know one had to clean toilets. He assumed that since
          you flush toilets they clean themselves. She tried to get him to help
          but he did an awful job so she let him off the hook. Wouldn’t it be
          better if she spent the time and energy to get him to do it right
          instead of letting him claim he is “just bad at it”. My sons were
          raised to clean toilets and change their own sheets. Hopefully, in
          their future homes, the housework will be equally divided. There were
          two things that were important to Tracey. The first was her dog.
          Anyone that had ever met Tracey knew how much she loved her dog. Most
          would say that she treated it as her child. The dog went everywhere
          with her and it had been her best friend for the past five years. The
          second thing that was important to Tracey, however, would be a lot
          more surprising to most people. It was a weird concept. Why would I
          really need to generate a random paragraph? Could I actually learn
          something from doing so? All these questions were running through her
          head as she pressed the generate button. To her surprise, she found
          what she least expected to see. She had a terrible habit o comparing
          her life to others. She realized that their life experiences were
          completely different than her own and that she saw only what they
          wanted her to see, but that didn't matter. She still compared herself
          and yearned for what she thought they had and she didn't. Stormi is a
          dog. She is dark grey and has long legs. Her eyes are expressive and
          are able to let her humans know what she is thinking. Her tongue is
          long, pink, and wet. Her long legs allow her to sprint after other
          dogs, people or bunnies. She can be a good dog, but also very bad. Her
          tail wags when happy or excited and hides between her back legs when
          she is bad. Stormi is a dog I love.
        </p>
      </ng-template>
    </li>
    <li [ngbNavItem]="4">
      <a routerLink="/bugdashboard">Dashboard</a>
    </li>
    <li ngbNavItem="5">
      <a ngbNavLink (click)="logout()">Logout</a>
    </li>
  </ul>
</div>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
