<div>
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Home</a>
      <ng-template ngbNavContent>
        <p>Content of the Home tab</p>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Login/Register</a>
      <ng-template ngbNavContent>
        <app-login-form></app-login-form>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>About</a>
      <ng-template ngbNavContent>
        <p>Say something about the product in here</p>
      </ng-template>
    </li>
  </ul>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/bugdashboard">Go To Dashboard</a>
    </li>
  </ul>
</div>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
