<clr-datagrid>
  <clr-dg-column [clrDgField]="'issueNo'" [clrDgColType]="'number'"
    >Issue No</clr-dg-column
  >
  <clr-dg-column [clrDgField]="'title'">Title</clr-dg-column>
  <clr-dg-column [clrDgField]="'description'">Description</clr-dg-column>
  <clr-dg-column [clrDgField]="'createdAt'">createdAt</clr-dg-column>
  <clr-dg-column [clrDgField]="'updatedAt'">updatedAt</clr-dg-column>
  <clr-dg-column [clrDgField]="'resolutionSummary'"
    >Resolution Summary</clr-dg-column
  >
  <clr-dg-column [clrDgField]="'priority'" [clrDgSortBy]="'priority'"
    >Priority</clr-dg-column
  >
  <clr-dg-column [clrDgField]="'status'" [clrDgColType]="'number'"
    >Status</clr-dg-column
  >
  <clr-dg-row *clrDgItems="let issue of issues">
    <clr-dg-cell>{{ issue.title }}</clr-dg-cell>
    <clr-dg-cell>{{ issue.description }}</clr-dg-cell>
    <clr-dg-cell>{{ issue.priority }}</clr-dg-cell>
    <clr-dg-cell
      ><span class="label" [class.label-danger]="issue.priority === 'high'"
        >{{ issue.priority }}
      </span></clr-dg-cell
    >
  </clr-dg-row>
  <clr-dg-footer>{{ issues.length }} issues</clr-dg-footer>
</clr-datagrid>

<!-- <div class="form-group">
  <form>
    <label for="title">Title</label>
    <input type="text" placeholder="Enter bug title" />
    <label for="description">Description</label>
    <input type="text" placeholder="Enter bug description" />
    <label for="priority">Priority</label>
    <select>
      <option value="low">Low</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
    </select>
    <label for="status">Status</label>
    <select>
      <option value="open">Open</option>
      <option value="in progress">In Progress</option>
      <option value="closed">Closed</option>
    </select>
    <label for="resolutionSummary">Resolution Summary</label>
    <input type="text" placeholder="Enter resolution summary" />
    <label for="createdAt">Created At</label>
    <input type="text" placeholder="Enter created at" />
    <label for="updatedAt">Updated At</label>
    <input type="text" placeholder="Enter updated at" />
    <button type="submit" (click)="createIssues()">Create Bug</button>
  </form>
</div> -->

<div class="form-container">
  <h3>Report a Bug</h3>
  <form clrForm *ngIf="formData" [formGroup]="formData">
    <clr-input-container>
      <label>Title</label>
      <input clrInput formControlName="title" />
    </clr-input-container>
    <clr-textarea-container>
      <label>Description</label>
      <textarea clrTextarea formControlName="description"></textarea>
    </clr-textarea-container>
    <clr-textarea-container>
      <label>Resolution Summary</label>
      <textarea clrTextarea formControlName="resolutionSummary"></textarea>
    </clr-textarea-container>
    <clr-radio-container clrInline>
      <label>Priority</label>
      <clr-radio-wrapper>
        <input
          clrInput
          type="radio"
          clrRadio
          formControlName="priority"
          value="low"
        />
      </clr-radio-wrapper>
      <label>Low</label>
      <clr-radio-wrapper>
        <input
          clrInput
          type="radio"
          clrRadio
          formControlName="priority"
          value="medium"
        />
      </clr-radio-wrapper>
      <label>Medium</label>
      <clr-radio-wrapper>
        <input
          clrInput
          type="radio"
          clrRadio
          formControlName="priority"
          value="high"
        />
      </clr-radio-wrapper>
      <label>High</label>
    </clr-radio-container>
    <label>Type</label>
    <clr-select-container>
      <select clrSelect formControlName="type">
        <option value="bug">Bug</option>
        <option value="feature">Feature</option>
      </select>
    </clr-select-container>
    <button class="btn btn-primary" type="submit">Create</button>
  </form>
</div>
