<div>
  <h1><strong>Dummy Title</strong></h1>
  <p>
    Her eyebrows were a shade darker than her hair. They were thick and almost
    horizontal, emphasizing the depth of her eyes. She was rather handsome than
    beautiful. Her face was captivating by reason of a certain frankness of
    expression and a contradictory subtle play of features. Her manner was
    engaging. The robot clicked disapprovingly, gurgled briefly inside its
    cubical interior and extruded a pony glass of brownish liquid. "Sir, you
    will undoubtedly end up in a drunkard's grave, dead of hepatic cirrhosis,"
    it informed me virtuously as it returned my ID card. I glared as I pushed
    the glass across the table. I recollect that my first exploit in
    squirrel-shooting was in a grove of tall walnut-trees that shades one side
    of the valley. I had wandered into it at noontime, when all nature is
    peculiarly quiet, and was startled by the roar of my own gun, as it broke
    the Sabbath stillness around and was prolonged and reverberated by the angry
    echoes. There weren't supposed to be dragons flying in the sky. First and
    foremost, dragons didn't exist. They were mythical creatures from fantasy
    books like unicorns. This was something that Pete knew in his heart to be
    true so he was having a difficult time acknowledging that there were
    actually fire-breathing dragons flying in the sky above him.
  </p>
  <img
    src="../../assets/images/BugLogo.jpg"
    alt="Bug Logo"
    class="bug-logo"
    height="400px"
    width="500px"
  />
  <p>
    One can cook on and with an open fire. These are some of the ways to cook
    with fire outside. Cooking meat using a spit is a great way to evenly cook
    meat. In order to keep meat from burning, it's best to slowly rotate it. Hot
    stones can be used to toast bread. Coals are hot and can bring things to a
    boil quickly. If one is very adventurous, one can make a hole in the ground,
    fill it with coals and place foil-covered meat, veggies, and potatoes into
    the coals, and cover all of it with dirt. In a short period of time, the
    food will be baked. Campfire cooking can be done in many ways. She has seen
    this scene before. It had come to her in dreams many times before. She had
    to pinch herself to make sure it wasn't a dream again. As her fingers
    squeezed against her arm, she felt the pain. It was this pain that
    immediately woke her up. I'm meant to be writing at this moment. What I mean
    is, I'm meant to be writing something else at this moment. The document I'm
    meant to be writing is, of course, open in another program on my computer
    and is patiently awaiting my attention. Yet here I am plonking down
    senseless sentiments in this paragraph because it's easier to do than to
    work on anything particularly meaningful. I am grateful for the distraction.
    He heard the song coming from a distance, lightly floating over the air to
    his ears. Although it was soft and calming, he was wary. It seemed a little
    too soft and a little too calming for everything that was going on. He
    wanted it to be nothing more than beautiful music coming from the innocent
    and pure joy of singing, but in the back of his mind, he knew it was likely
    some type of trap.
  </p>
</div>

<a routerLink="/">Back to the main page</a>
