<h2>Bug Info</h2>
<div class="bug-info-container">
  <h6>{{ simpleBug.title }}</h6>
  <p>{{ simpleBug.description }}</p>
  <p>{{ simpleBug.summary }}</p>
</div>

<button class="btn btn-primary" (click)="onDelete()">Delete</button>
<button class="btn btn-primary" (click)="show()">Update</button>
<button class="btn btn-secondary" routerLink="/bugdashboard">Cancel</button>

<div [hidden]="showForm">
  <form class="form-container" [formGroup]="formData" (ngSubmit)="onUpdate()">
    <label>Title</label>
    <div>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="simpleBug.title"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <label>Description</label>
    <div>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="simpleBug.description"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <label>Summary</label>
    <div>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="simpleBug.summary"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <clr-select-container>
      <select clrSelect formControlName="status">
        <option value="bug">Bug</option>
        <option value="feature">Feature</option>
      </select>
    </clr-select-container>
    <label>Priority</label>
    <clr-select-container>
      <select clrSelect formControlName="priority">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>
    </clr-select-container>

    <button type="submit">Submit Updates</button>
    <pre>{{ formData.value.title }}, {{ formData.value.description }}</pre>
  </form>
</div>
